.about {
    display: flex;
    flex-direction: column;
}

.about-main {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
}

.about-section-1 {
    
}