.recoverpassword {
    display: flex;
    flex-direction: column;
}

.recoverpassword-main {
    display: flex;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
}

.recoverpassword-main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recoverpassword form {
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 5%;
        color: white;
}

.recoverpassword form h1 {
    font-size: 25px;
}

.recoverpassword-main input {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    padding-left: 2%;
}


.recoverpassword-main button {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #00bda4;
    border: 2px solid transparent;
    font-size: 16px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.recoverpassword-main input:hover {

    border: 2px solid #00bda4;
    transition: background 200ms;
}

.recoverpassword-main button:hover {
    background-color: transparent;
    border: 2px solid #00bda4;
    transition: background 200ms;
}

.recoverpassword-main input::placeholder {
    color: white;
}

.recoverpassword-result {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #0003bd;
    border: 5px solid #0058bd;
    font-size: 16px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .recoverpassword form {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        color: white;
}
}