.stadistics-section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 4%;
}

.stadistics-section h1 {
    color: white;
    font-size: 30px;
}

.stadistics-section-1 {
    width: 100%;
}

.stadistics-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
} 

.stadistics-section ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 47%;
    min-width: 300px;
    box-sizing: border-box;
    padding: 5px;
    margin: 15px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #00bda4;
    overflow: scroll;
} 

.stadistics-media {
    font-size: 15px;
    width: 50%;
    min-width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid #009480;
    background-color: #00bda4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}   

.stadistics-calendar {
    max-height :600px;
    font-size: 80%;
}

.stadistics-section h3 {
    color: #009480;
}
